<h4 id="scrollspyHeading1">First heading</h4>
<section class="w-50 mx-auto text-center pt-5" id="intro">
  <h1 >Instituto de Educación Superior <span class="text-success">Nuevo
      Horizonte</span></h1>
  <p class="p-3 fs-4"><span class="text-success">Carreras terciarias </span> Tecnicaturas Superiores que se pueden estudiar en nuestro
    establecimiento </p>
</section>

<!--===============Servicios==============-->

<section class="container-fluid">
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap ">
      <img class="rounded-3" src="assets/img/software.jpeg" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Desarrollo de Software</h3>
        <p class="px-4">con una duración de 3 años</p>
        <a class="ms-4" href="" [routerLink]="['/software']" routerLinkActive="router-link-active" >ver más</a>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img class="rounded-3" src="assets/img/enfermeria.jpeg" alt="enfermeria" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Enfermería </h3>
        <p class="px-4">Con una duración de 3 años</p>
        <a class="ms-4" href="" [routerLink]="['/software']" routerLinkActive="router-link-active" >ver más</a>
      </div>
    </div>
  </div>
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img class="rounded-3" src="assets/img/farmacia.jpg" alt="farmacia" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Farmacia</h3>
        <p class="px-4">Con una duración de 3 años</p>
        <a class="ms-4" href="" [routerLink]="['/software']" routerLinkActive="router-link-active" >ver más</a>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img class="rounded-3" src="assets/img/fitnnes.jpeg" alt="fitnnes" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Fitness</h3>
        <p class="px-4">Con una duración de 3 años</p>
        <a class="ms-4" href="" [routerLink]="['/software']" routerLinkActive="router-link-active" >ver más</a>
      </div>
    </div>
  </div>
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img class="rounded-3" src="assets/img/higiene.jpeg" alt="higiene y seguridad" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Higiene y seguridad</h3>
        <p class="px-4">Con una duración de 3 años</p>
        <a class="ms-4" href="" [routerLink]="['/software']" routerLinkActive="router-link-active" >ver más</a>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img class="rounded-3" src="assets/img/juridico.jpeg" alt="Derecho Juridico" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Derecho Jurídico</h3>
        <p class="px-4">Con una duración de 3 años</p>
        <a class="ms-4" href="" [routerLink]="['/software']" routerLinkActive="router-link-active" >ver más</a>
      </div>
    </div>
  </div>
</section>

<section class= "align-items-center px-5" >
<div class="d-grid gap-2 d-md-flex justify-content-md-end  nav-link" href="" [routerLink]="['/Contacto']"
routerLinkActive="router-link-active">
  <div class="card mb-3 shadow" style="max-width: 18rem">
      <div class="card-body">
      <h5 class="card-title text-success strong text-center">¡Escribinos!</h5>
      <p class="card-text text-center">Nuestro equipo está atento a cualquier consulta </p>
    </div>
  </div>
</div>
</section>


