<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-6 bolder bolder-2 shadow rounded-3 p-2 ">
            <div class="mb-3">
                <h3 class="fs-6 ms-2 fw-semibold">Materia</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected *ngFor="let e of ListaMateria">{{e.nombre}}</option>
                  </select>
            </div>
            <div class="mb-3">
                <div class="turno">
                    <h3 class="fs-6 fw-semibold">Seleccione turno</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">Mañana</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">Tarde</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">Noche</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="fs-6 ms-2 fw-semibold">Horario</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>8:00</option>
                    <option value="1">10:30</option>
                    <option value="2">12:00</option>
                    
                    <option value="3">14:00</option>
                    <option value="4">15:30</option>
                    <option value="5">17:00</option>
                    
                    <option value="6">19:00</option>
                    <option value="7">20:30</option>
                  </select>
            </div>
            
            <button class="btn btn-primary me-2">Guardar</button>
            <button class="btn btn-danger" >Cancelar</button>
        </div>
    </div>
</div>

