<div class="container">
    <div class="row">

        <!-- Columna de reservacion de turnos -->
        <div class="col-4">
            <h3 class="text-center fs-1 mb-3">Reserva de turnos</h3>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fw-semibold">Fecha de reserva</label>
                <input type="date" class="form-control" id="inputDate" placeholder="dd/MM/aaaa">
            </div>
            <div>
                <h3 class="fs-6 fw-semibold">Seleccione turno</h3>
                <div class="form-check">
                    <input (click)="cambioTurno(1)" class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Mañana</label>
                </div>
                <div class="form-check">
                    <input (click)="cambioTurno(2)" class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Tarde</label>
                </div>
                <div class="form-check">
                    <input (click)="cambioTurno(3)" class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Noche</label>
                </div>
            </div>
        </div>

        <!-- Columna de informacion de turnos reservaos -->
        <div class="col-8">
            <div class="d-flex flex-column">
                <!-- 
                <div *ngIf="turnoDia">
                    <h3 class="fs-6">Seleccione horario</h3>
                    <div class="mb-2" *ngFor="let i of lista1">
                        <input type="checkbox" class="btn-check" id="btncheck{{i.id}}">
                        <label class="btn btn-outline-secondary" for="btncheck{{i.id}}"><span
                                class="">{{i.hora}}</span></label>
                        <div>
                            <span>Raul Ballesteros </span>
                            <span>ProgramacionIII </span>
                            <span>desarrolo de software </span>
                        </div>
                    </div>
                </div>
                 -->
                <div *ngIf="turnoTarde">
                    <h3 class="fs-6">Seleccione horario</h3>
                    <div class="mb-2" *ngFor="let j of lista2">
                        <input type="checkbox" class="btn-check" id="btncheck{{j.id}}">
                        <label class="btn btn-outline-secondary" for="btncheck{{j.id}}"><span
                                class="">{{j.hora}}</span></label>
                    </div>
                </div>
                <div *ngIf="turnoNoche">
                    <h3 class="fs-6">Seleccione horario</h3>
                    <div class="mb-2" *ngFor="let k of lista3">
                        <input type="checkbox" class="btn-check" id="btncheck{{k.id}}">
                        <label class="btn btn-outline-secondary" for="btncheck{{k.id}}"><span
                                class="">{{k.hora}}</span></label>
                    </div>
                </div>
            </div>



            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Horario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Carrera</th>
                    </tr>
                </thead>
                <tbody *ngIf="turnoDia">
                    <tr *ngFor="let m of listaReserva">
                        <td scope="row">
                            <div class="mb-2">
                                <input type="checkbox" class="btn-check" id="btncheck{{m.id}}">
                                <label class="btn btn-outline-secondary" for="btncheck{{m.id}}">
                                    <span class="">{{m.reserva}}</span>
                                </label>
                            </div>
                        </td>
                        <td>{{m.nomApe}}</td>
                        <td>{{m.materia}}</td>
                        <td>{{m.carrera}}</td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>


</div>

<app-probar></app-probar>
