
<br>
<br><br><br>
<div class="container">
    <div class="row">
        <h1 class="text-center fw-light fs-3 mt-4 text-decoration-underline ">Formulario de Registro de Uso Informatico</h1>
        <div class="col-sm-4">
            <button type="button" class="btn btn-success" (click)="mostrarFormulario()">Reservar</button>
        </div>        
        <div class="col-sm-4">
            <button type="button" class="btn btn-success" (click)="mostrarReserva()">Visualizar</button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-success" (click)="mostrarEliminar()">Editar</button>
        </div>
    </div>

    <div *ngIf="habilitarForm">
        <div class="container">
            <div class="row d-flex justify-content-center ">
                <div class="col-6 bolder bolder-2 shadow rounded-3 p-2 ">
                    <div class="mb-3">
                        <ng-container *ngIf="enCrear; else modificacion">
                            <h3 class="fs-6 ms-2 fw-semibold">Materia</h3>
                        </ng-container>
                        <ng-template #modificacion>
                            <h3 class="fs-6 ms-2 fw-semibold">Modificar</h3>                            
                        </ng-template>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="idMateria">
                            <option value="" selected disabled >Seleccione una opcion</option>
                            <option selected *ngFor="let e of lis.profesor['listMateria']" [value]="e.id">{{e.nombre}}</option>
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Ingrese fecha</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="diaReserva">
                      </div>
                    <div class="mb-3">
                        <div class="turno">
                            <h3 class="fs-6 fw-semibold">Seleccione turno</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" (click)="verDia()">
                                <label class="form-check-label" for="flexRadioDefault1">Mañana</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" (click)="verTarde()">
                                <label class="form-check-label" for="flexRadioDefault1">Tarde</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" (click)="verNoche()">
                                <label class="form-check-label" for="flexRadioDefault1">Noche</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h3 class="fs-6 ms-2 fw-semibold">Horario</h3>
                        <select *ngIf="dia" class="form-select" aria-label="Default select example" [(ngModel)]="hora" >
                            <option value="" selected disabled>Seleccione una opcion</option>
                            <option  *ngFor="let d of turnosDia" [value]="d.hora" >{{d.hora}}</option>
                        </select>
                        <select *ngIf="tarde" class="form-select" aria-label="Default select example" [(ngModel)]="hora">
                            <option value="" selected disabled>Seleccione una opcion</option>
                            <option  *ngFor="let t of turnosTarde" [value]="t.hora">{{t.hora}}</option>
                        </select>
                        <select *ngIf="noche" class="form-select" aria-label="Default select example" [(ngModel)]="hora">
                            <option value="" selected disabled>Seleccione una opcion</option>
                            <option  *ngFor="let n of turnosNoche" [value]="n.hora">{{n.hora}}</option>
                        </select>
                    </div>
                    <ng-container *ngIf="enCrear; else materiaMod">
                        <button type="submit" class="btn btn-primary me-2" (click)="guardar()">Guardar</button>
                    </ng-container>
                    <ng-template #materiaMod>
                        <button type="submit" class="btn btn-primary me-2" (click)="modificar()">Modificar</button>                        
                    </ng-template>
                    <button class="btn btn-danger" (click)="ocultarFormulario()" >Cancelar</button>
                </div>
            </div>
        </div>
        
        
    </div>
<!-- reserva -->
    <div *ngIf="habilitarReserva==true">
        <app-view></app-view>
      <button class="btn btn-success" (click)="cerrar()" >cerrar</button>
    </div>

    <div *ngIf="habilitarEliminar==true">
        <div class="container" style="overflow-x: scroll">
            <div class="row">
              <table class="table"  *ngIf="ocultar">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Nombre</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Materia</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center " *ngFor="let e of reservas">
                    <td>{{e.profesor.nombre}} - {{e.profesor.apellido}}</td>
                    <td>{{e.turno}}</td>
                    <td>{{e.hora}}</td>
                    <td>{{e.fecha}}</td>
                    <td>{{e.materia.nombre}}</td>
                    <td><button class="btn btn-outline-success me-2" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                          width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" (click)="editar(e.id)">
                          <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg></button>
                      <button (click)="eliminar(e.id)" type="button" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                          height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg></button>
                    </td>
                  </tr>
          
                </tbody>
              </table>
            </div>
          </div>
        <button class="btn btn-success" (click)="cerrar2()" >cerrar</button>
    </div>

</div>