<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Turno</th>
                <th scope="col">Horario</th>
                <th scope="col">Materia</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Huanca</td>
                <td>Tarde</td>
                <td>14:00</td>
                <td>Practica III</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>