<section class="container">
    <div>
        <h1 class="fs-2 text-center mt-3">Enfermería Profesional</h1>
        <h1 class=" mt-4 fs-4 fw-light text-center "> Plan de Estudio <svg xmlns="http://www.w3.org/2000/svg" width="23"
                height="23" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                <path
                    d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                <path
                    d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
            </svg></h1>
    </div>

    <section class="mb-5 mt-3">
        <div class="container" style="overflow-x: scroll">
            <table >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Materia</th>
                        <th>Regimen</th>
                        <th>Regularidad</th>
                        <th>Aprobada p/rendir</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="libro">1</td>
                        <td>Fundamento de Enfermeria Basica</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">2</td>
                        <td>Anatomia y Fisiologia Humana</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">3</td>
                        <td>Microbiologia y Parasitologia</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">4</td>
                        <td>Expesión Oral y Escrita</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">2</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">5</td>
                        <td>Fisica y Quimica Aplicada</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">6</td>
                        <td>Antropologia Filosófica</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">7</td>
                        <td>Informática Básica</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">8</td>
                        <td>Práctica Profesionalizante I </td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">1º</td>
                    </tr>
                    <tr>
                        <td class="libro">9</td>
                        <td>Enfermeria Médica</td>
                        <td class="libro">Anual</td>
                        <td class="libro">1-2</td>
                        <td class="libro">1-2</td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">10</td>
                        <td>Ética y Marco Legal</td>
                        <td class="libro">Anual</td>
                        <td class="libro">5</td>
                        <td class="libro">-</td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">11</td>
                        <td>Farmacología</td>
                        <td class="libro">Anual</td>
                        <td class="libro">2-3-5</td>
                        <td class="libro">2-5</td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">12</td>
                        <td>Nutrición</td>
                        <td class="libro">2 C</td>
                        <td class="libro">1-2-3-5</td>
                        <td class="libro">2-5</td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">13</td>
                        <td>Enfermeria Quirúrgica</td>
                        <td class="libro">Anual</td>
                        <td class="libro">1-2-3-4-5</td>
                        <td class="libro">5</td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">14</td>
                        <td>EDI I</td>
                        <td class="libro">Anual</td>
                        <td class="libro"></td>
                        <td class="libro"></td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">15</td>
                        <td>Practica Profesion. II</td>
                        <td class="libro">Anual</td>
                        <td class="libro">1-3-5</td>
                        <td class="libro">2-3-5-8</td>
                        <td class="libro">2º</td>
                    </tr>
                    <tr>
                        <td class="libro">16</td>
                        <td>Enfermeria Materno</td>
                        <td class="libro">Anual</td>
                        <td class="libro">9-11-13</td>
                        <td class="libro">9-11-12</td>
                        <td class="libro">3º</td>
                    </tr>
                    <tr>
                        <td class="libro">17</td>
                        <td>Inglés Técnico</td>
                        <td class="libro">Anual</td>
                        <td class="libro">-</td>
                        <td class="libro">-</td>
                        <td class="libro">3º</td>
                    </tr>
                    <tr>
                        <td class="libro">18</td>
                        <td>Enfermeria de Salud Mental</td>
                        <td class="libro">Anual</td>
                        <td class="libro">9-13</td>
                        <td class="libro">9-11-12-13-14</td>
                        <td class="libro">3º</td>
                    </tr>
                    <tr>
                        <td class="libro">19</td>
                        <td>Informaticá Aplicada</td>
                        <td class="libro">2 C</td>
                        <td class="libro">15</td>
                        <td class="libro">15</td>
                        <td class="libro">3º</td>
                    </tr>
                    <tr>
                        <td class="libro">20</td>
                        <td>Organizacion y Gestion</td>
                        <td class="libro">Anual</td>
                        <td class="libro">10-15</td>
                        <td class="libro">9-11-13</td>
                        <td class="libro">3º</td>
                    </tr>
                    <tr>
                        <td class="libro">21</td>
                        <td>Practica Profesion. III</td>
                        <td class="libro">Anual</td>
                        <td class="libro">8,9,10,11,12,13</td>
                        <td class="libro">8,9,10,11,12,13</td>
                        <td class="libro">3º</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>


</section>