<section class="container">
    <div>
        <h1 class="fs-2 text-center mt-3     ">Tecnicatura Superior en Desarrollo de Software</h1>
        <h1 class=" mt-4 fs-4 fw-light text-center "> Plan de Estudio <svg xmlns="http://www.w3.org/2000/svg" width="23"
                height="23" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                <path
                    d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                <path
                    d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
            </svg></h1>
    </div>

    <section class="mb-5 mt-3">
        <div class="container" style="overflow-x: scroll">
            <table >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Materia</th>
                        <th>Regimen</th>
                        <th>Regularidad</th>
                        <th>Aprobada p/rendir</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listaMateria">
                        <td class="libro">{{i.numero}}</td>
                        <td>{{i.nombre}}</td>
                        <td class="libro">{{i.regimen}}</td>
                        <td class="libro">{{i.regularidad}}</td>
                        <td class="libro">{{i.aprobada}}</td>
                        <td class="libro">{{i.periodo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>